<hr>
<footer>
    <a target="blank" href="https://validator.w3.org/nu/?doc=https%3A%2F%2Ftvander5.github.io%2F"><img src="images/button_validation_html5.png" alt=""></a>
    <ul>
        <li><a href="https://github.com/tvander5">Github</a>|</li>
        <li><a href="https://tvander5.github.io/">Github.io</a>|</li>
        <li><a href="https://gitlab.com/tvander5">Gitlab</a>|</li>
        <li><a href="https://www.freecodecamp.org/tvander5">freeCodeCamp</a>|</li>
        <li><a href="https://www.codecademy.com/profiles/tvander5">Codecademy</a>|</li>
        <li><a href="https://www.linkedin.com/in/tony-vanderhall">LinkedIn</a></li>
    </ul>
    <a target="blank" href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Ftvander5.github.io%2F"><img src="images/button_validation_css.png" alt=""></a>
</footer>
<hr>