<hr>
<header>
    <h1>Tony Vanderhall's Talkative Vulture | CP-C0-01</h1>
    <nav>
        <a href="index.html">Home</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="contract.html">Contract</a> |
        <a href="about_us.html">About Us</a> |
        <a href="pre-assessment.html">Pre-Assessment</a> |
        <a href="colors.html">Colors</a> |
        <a href="brownies.html">Brownies</a>
    </nav>
</header>
<hr>