html {
    background-color: rgb(57, 55, 61);
}

h1 {
    font-size: 150%;
}

body
{
    background-color: rgb(43, 40, 46);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(206, 206, 206);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    text-shadow: 0 0 5px rgba(0,0,0,.7);
    margin: 15px auto;
    width: 70%;
}

.colors {
    font-weight: bold;
    font-style: italic;
    color: rgb(235, 235, 235);
}

.italics {
    font-style: italic;
}

.question {
    font-weight: bold;
    color: rgb(235, 235, 235);
}

img {
    border: solid 1px rgb(206, 206, 206);
}

header, footer {
    text-align: center;
}

header nav {
    padding-bottom: 5px;
}

a
{
    color: rgb(251, 255, 27);
    text-decoration: none;
}

main {
    margin: 0 5%;
}

main li {
    padding: 5px 0;
}

hr
{
    border: dashed;
}

.about_us {
    text-transform: uppercase;
    list-style-image: linear-gradient(gold, orange);
}

p
{
    padding: 0px 15px;
}

h1
{
    padding: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(0,0,0,.7);
}

.me
{
    width: 20%;
}

nav {
    font-size: 125%;
    padding-left: 15px;
}

a:hover
{
    color: rgb(255, 153, 36);
    text-decoration: overline underline;
}

h2, figure
{
    text-align: center;
    margin: 20px auto;
}

figcaption
{
    font-style: italic;
}

footer {
    margin: 0 auto;
}

footer ul {
    padding: 2px;
    display: inline-flex;
    list-style: none;
}

footer ul a {
    padding: 0 20px;
}

footer img {
    border: none;
    display: block;
    margin: 0 auto;
}

.green {
    color: limegreen;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.cyan {
    color: cyan;
}

.orange {
    color: orange;
}

.purple {
    color: magenta;
}